/*CSS*/
.ps-shoe .ps-shoe__price {
    display: block;
    text-align: end;
    position: relative;
}

.ps-shoe .ps-shoe__name {
    display: block;
}


.custom-file-upload-hidden {
    display: none;
    visibility: hidden;
    position: absolute;
    left: -9999px;
}

.custom-file-upload {
    display: block;
    width: auto;
    font-size: 16px;
    margin-bottom: 80px;
}
.custom-file-upload label {
    display: block;
    margin-bottom: 5px;
}

.file-upload-wrapper {
    position: relative;
    margin-bottom: 5px;
}

.file-upload-input {
    width: 72%;
    color: #000;
    font-size: 16px;
    padding: 11px 17px;
    border: none;
    background-color: #fff;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    float: left;
    /* IE 9 Fix */
}

.file-upload-button {
    cursor: pointer;
    display: inline-block;
    color: #FFF;
    font-size: 16px;
    text-transform: uppercase;
    padding: 11px 20px;
    border: none;
    margin-left: -1px;
    background-color: #27b574;
    float: left;
    /* IE 9 Fix */
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.file-upload-button:hover {
    background-color: #25b58e;
}

.ps-author .ps-author__thumbnail img {
    border-radius: 0;
}

.ps-btn.mb-10:focus {
    color: white;
}

.selectize-control .selectize-input {
    outline: none;
    height: 50px;
    background-color: #e4e4e4;
    border-color: #e4e4e4;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    padding: 0 20px;
}

.selectize-input {
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.selectize-input, .selectize-control.single .selectize-input.input-active {
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.selectize-dropdown .active {
    color: #fff;
    background-color: #2AC37D;
}

.ps-cart-lis.ting.popup-cart {
    margin: 0 auto;
    background-color: white;
    padding: 10px;
}
.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
    width: auto;
}
.mfp-close {
    color: #000 !important;
}
.form-group--number input.form-control {
    width: 50px !important;
}
.form-group--number button {
    width: 50px !important;
}
.ps-btn, button.ps-btn {
    margin-top: 15px;
}

.in-wish {
    background-color: #2ac37d !important;
}

.ps-product--detail .ps-product__shopping .ps-product__actions {
    margin-top: 15px;
}
.ps-table--compare table.table tbody > tr > td {
    text-transform: unset;
}

.ps-section--offer .ps-column img {
    width: 100%;
}

.ps-home-contact .ps-home-contact__form {
    width: 100%;
}

.modal-dialog {
    top: 30%;
}

.modal-dialog .btn-primary {
    background-color: #000000 !important;
    border-color: #19a69c !important;
}
.modal-dialog .btn-primary:hover {
    background-color: #19a69c !important;
    border-color: #19a69c !important;
}

.ps-list--checked li {
    margin-bottom: 0;
}

.ps-list--checked li input[type="checkbox"] {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: solid 1px #8d8d8d;
    margin: 0;
    margin-top: 4px;
    background-color: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.ps-list--checked li input[type="checkbox"]:checked {
    background-color: #000000;
    border-color: #000000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.ps-list--checked li input[type="checkbox"]:focus {
    outline:0;
}

.ps-list--checked li input[type="checkbox"]:checked:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 1px;
    left: 6px;
    color: #fff;
    width: 6px;
    height: 12px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ps-list--checked li label {
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: #313131;
    margin-bottom: 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    vertical-align: top;
    padding-top: 6px;
    padding-left: 5px;
    cursor: pointer;
}

.parent_isset {
    padding-left: 29px !important;
}

.eba-btn {
    padding: 5px 30px;
    font-size: 12px;
    line-height: 15px;
}

.ps-list--color .round {
    position: relative;
}

.ps-list--color .round label {
    background-color: #fff;
    /*border: 1px solid #ccc;*/
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
}

.ps-list--color .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

.ps-list--color .round input[type="checkbox"] {
    visibility: hidden;
}

.ps-list--color .round input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #000;
}

.ps-list--color .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.ps-list--color .round input[type="radio"] {
    visibility: hidden;
}

.ps-list--color .round input[type="radio"]:checked + label {
    background-color: #66bb6a;
    border-color: #000;
}

.ps-list--color .round input[type="radio"]:checked + label:after {
    opacity: 1;
}

.tints .round {
    position: relative;
}

.tints .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: -2px;
    position: absolute;
    top: -2px;
    width: 28px;
}

.tints .round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

.tints .round input[type="radio"] {
    visibility: hidden;
}

.tints .round input[type="radio"]:checked + label {
    background-color: #50cf96;
    border-color: #50cf96;
}

.tints .round input[type="radio"]:checked + label:after {
    opacity: 1;
}

.tints li {
    margin-right: 15px;
    margin-bottom: 15px;
}

.tints li label {
    max-width: unset;
}
.tints li label span {
    margin-left: 30px;
}

[data-block-clics] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.ps-sidebar {
    position: relative;
}
.mfp-content{
    width: 100%;
    max-width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.mfp-content .form-control {
    padding: 0 !important;
}
.table.ps-cart__table td .form-group--number{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

@media (min-width: 1250px){
    .table.ps-cart__table td .form-group--number{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 559px){
    .mfp-content .table.ps-cart__table td .form-group--number{
        display: block;
    }
    .mfp-content .table.ps-cart__table .form-group--number button,input {
        display: block;
        width: 35px;
    }
}

.ps-product--detail .ps-product__content .tab-list li {
    margin-right: 82px !important;
}

.ps-author .ps-author__content p {
    margin-bottom: 8px !important;
}
.tab-pane .ps-author .ps-author__content h4 {
    margin-left: 7px !important;
}

@media (max-width: 479px) {
    .ps-pagination .pagination li {
        margin-right: 0px;
    }
}

@media (max-width: 479px) {
    .ps-pagination .pagination li a:before {
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 479px) {
    .ps-pagination .pagination li a {
        padding: 0 9px;
        font-size: 12px;
    }
}

@media (max-width: 479px) {
    .ps-pagination {
        display: flex;
        justify-content: center;
    }
    .ps-pagination .pagination li a:after {
        width: 25px;
        height: 25px;
    }
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}


.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

img.alignnone {
    height: 100%;
}

img.aligncenter {
    height: 100%;
}

img.alignleft {
    height: 100%;
}

img.alignright {
    height: 100%;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

.ps-product__filter .bootstrap-select > select {
    left: -9999999px;
}

.ps-list--line a:hover {
    color: #ffffff;
}

.img-list-k {
    position: relative;
    float: left;
    width:  100px;
    max-height: 330px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.ps-product__thumbnail .ps-product__image .slick-slide
{
    max-width: 450px;
}

.ps-product--detail .ps-product__thumbnail {
    width: calc(100% - 614px) !important;
}

.tab-content.mb-60 {
    overflow: hidden !important;
}

.ps-section--features-product.ps-section.masonry-root.pt-100.pb-100 {
    padding-bottom: 0 !important;
}